@import './variables';

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: $gradient-background 15s ease infinite ;
  height: 100vh;
  overflow: hidden;
  z-index: 5;
}

.wrapper {
  // position: relative;
  // background: url('../../public/assets/main-bg.jpg') no-repeat;
  // background-size: cover;
  // background-position: center;
  height: 100vh;
  // z-index: 1;
  // &::after {
  //   content: '';
  //   position: absolute;
  //   opacity: 0.3;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     z-index: -1;
  //     bottom: 0;
  //     background-color: #333;
  // }
}

.header {
  height: 4rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow-box;
  nav {
    a {
      color: #333;
      padding: 12px;
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  .container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 1rem;
    max-width: 700px;
    height: fit-content;
    padding: 30px;
    color: #333;
    
    box-shadow: $shadow-box;

    .home {
      display: none !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 1.5px;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1.2rem;
      }
      div {
        width: 200px;
        display: flex;
        justify-content: space-between;
      }
    }
    .about {
      display: none !important;
      display: flex;
      .left {
        margin-right: 1.5rem;
      }
      .right {
        text-align: justify;
        h2 {
          text-align: left;
          font-weight: 600;
          font-size: 1.5rem;
          letter-spacing: 1.5px;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 1.2rem;
        }
      }
    }
    .resume {
      display: flex;
      font-weight: 400;
      ul {
        padding: 15px;
      }
      h2 {
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
      }
      .left {
        padding-right: 25px;
        h3 {
          margin: 1rem 0;
        }
        flex: 1;
      }
      .right {
        flex: 1;
      }
    }
  }
}

